<h2 class="text-center mb-4">formulario de compra </h2>

<form [formGroup]="formularioCompra" (ngSubmit)="finalizarCompra()" class="mx-auto" style="max-width: 600px">
    <!-- campos del formulario -->
    <div class="row g-3 mb-3">

        <div class="col-md-6">
            <label for="nombre" class="form-label fw-semibold">nombre <span class="text-danger">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input id="nombre" formColtrolName="nombre" class="form-control" placeholder="tu nombre completo" />
            </div>
            <div *ngIf="formularioCompra.get('nombre')?.touched && formularioCompra.get('nombre')?.invalid"
                class="form-text text-danger">
                El nombre es obligatorio
            </div>
        </div>


        <div class="col-md-6">
            <label for="telefono" class="form-label fw-semibold">telefono <span class="text-danger">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                <input id="telefono" formColtrolName="telefono" class="form-control" placeholder="+54 9 11 123 4567" />
            </div>
            <div *ngIf="formularioCompra.get('telefono')?.touched && formularioCompra.get('telefono')?.invalid"
                class="form-text text-danger">
                El numero de telefono es obligatorio
            </div>
        </div>


        <div class="col-md-6">
            <label for="correo" class="form-label fw-semibold">correo <span class="text-danger">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                <input id="correo" formColtrolName="correo" type="email" class="form-control"
                    placeholder="nombre@gmail.com" />
            </div>
            <div *ngIf="formularioCompra.get('correo')?.touched && formularioCompra.get('correo')?.invalid"
                class="form-text text-danger">
                Ingrese un correo valido
            </div>
        </div>


        <div class="md-3">
            <label for="direccion" class="form-label fw-semibold">direccion <span class="text-danger">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                <input id="direccion" formColtrolName="direccion" class="form-control"
                    placeholder="calle,numero,piso,depto" />
            </div>
            <div *ngIf="formularioCompra.get('direccion')?.touched && formularioCompra.get('direccion')?.invalid"
                class="form-text text-danger">
                la direccion es obligatorio
            </div>
        </div>



        <div class="row g-3 md-3">
            <div class="col-md-4 ">
                <label for="ciudad" class="form-label fw-semibold">ciudad <span class="text-danger">*</span></label>
                <input id="ciudad" formColtrolName="ciudad" class="form-control" placeholder="ej:buenos aires" />
                <div *ngIf="formularioCompra.get('ciudad')?.touched && formularioCompra.get('ciudad')?.invalid"
                    class="form-text text-danger">
                    la ciudad es obligatorio
                </div>
            </div>

            <div class="col-md-4">
                <label for="provincia" class="form-label fw-semibold">provincia <span
                        class="text-danger">*</span></label>
                <input id="provincia" formColtrolName="provincia" class="form-control" placeholder="ej:buenos aires" />
                <div *ngIf="formularioCompra.get('provincia')?.touched && formularioCompra.get('provincia')?.invalid"
                    class="form-text text-danger">
                    la provincia es obligatorio
                </div>
            </div>
                   
            <div class="col-md-4">
                <label for="codigoPostal" class="form-label fw-semibold">codigoPostal <span
                        class="text-danger">*</span></label>
                <input id="codigoPostal" formColtrolName="codigoPostal" class="form-control" placeholder="ej: 1234" />
                <div *ngIf="formularioCompra.get('codigoPostal')?.touched && formularioCompra.get('codigoPostal')?.invalid"
                    class="form-text text-danger">
                    el codigo Postal es obligatorio
                </div>
            </div>

        </div>

    </div>
    <div class="mb-3">
        <label for="metodoPago" class="form-label fw-semibold">metodo de pago<span class="text-danger">*</span></label>
        <select id="metodoPago" formControlName="metodoPago" class="form-select">
            <option value="" disabled selected>seleccione metodo de pago</option>
            <option value="tarjeta">tarjeta de credito/debito</option>
            <option value="efectivo">efectivo</option>
            <option value="transferencia">transferencia bancaria</option>
        </select>
        <div *ngIf="formularioCompra.get('metodoPago')?.invalid" class="form-text text-danger">
        </div>
    </div>

    <div class="d-flex justify-content-between align-item-center my-4">
        <div>
            <p>envio: ${{envio.toFixed(2) }}</p>

            <p><strong>Total a pagar: ${{calcularTotal() }} </strong></p>
            <button type="submit" class="btn btn-dark">Finalizar compra </button>
        </div>

    </div>


</form>
<!-- modal PDF -->
<div *ngIf="mostrarModal" class="modal show d-block" tabindex="-1" role="dialog" style="background-color: black;">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 90vw; max-height: 90vh;">
        <div class="modal-content" style="height: 90vh;">
            <div class="modal-header">
                <h5 class="modal-title">factura PDF</h5>
                <button type="button" class="btn-close" aria-label="cerrar" (click)="cerrarModal()"></button>
            </div>
            <div class="modal-body p-0" style="height: 80;">
                <iframe *ngIf="pdfSrc" [src]="pdfSrc" id="pdfFame" style="width: 100%; border: none"></iframe>
            </div>

            <div class="modalfooter">
                <button type="button" class="btn btn-success" (click)="imprimirPDF()">
                    imprimir
                </button>
                <button type="button" class="btn btn-seconday" (click)="cerrarModal()">
                    cerrar
                </button>

            </div>
        </div>
    </div>
</div>