<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


<style>
  h1.text-center {
    font-family: 'Oswald', sans-serif;
  }
</style>

   



<h1 class="text-center">inicio</h1>



<div class="container d-flex justify-content-center my-4"> <!-- Contenedor centrado con margen vertical -->
  <div class="w-75"> <!-- Ajusta este porcentaje para cambiar el tamaño (75% del contenedor padre) -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_webp/464cff188877711.65a3b97873237.png"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="https://i.ytimg.com/vi/iv2Kub8pO8M/maxresdefault.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="https://i.ytimg.com/vi/fZT8Z1GFJ8Y/maxresdefault.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>


<div class="card-container">
  <div *ngFor="let producto of productos; let i = index">
    <div class="card" style="width: 18rem;">
      <img src="{{producto.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">producto</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>






