<nav class="navbar navbar-expand-lg navbar-color">
  <div class="container-fluid">
    <!-- Logo/Brand -->
    <a class="navbar-brand" href="#">
      <img width="70" height="70" src="https://cdn-icons-png.flaticon.com/128/4707/4707480.png">
    </a>

    <!-- Botón para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <style>
        a {
          font-family: 'Oswald', sans-serif;

        }
      </style>

      <!-- Enlaces de navegación (izquierda) -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/inicio">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/productos">productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/ofertas">ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contacto">contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/nosotros">nosotros</a>
        </li>

      </ul>




      <!-- buscador  -->
      <div class="group d-flex position-absolute start-50 translate-middle-x">
        <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
          <g>
            <path
              d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
            </path>
          </g>
        </svg>
        <input class="input" type="search" placeholder="Search" />
      </div>








      <!-- inicio dde sesion -->
      <label class="popup">
        <input type="checkbox" />
        <div tabindex="0" class="burger">
          <svg viewBox="0 0 24 24" fill="white" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z">
            </path>
          </svg>
        </div>
        <nav class="popup-window">

          <ul>
            <li>
              <button>
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2"
                  stroke-linecap="round" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19 4v6.406l-3.753 3.741-6.463-6.462 3.7-3.685h6.516zm2-2h-12.388l1.497 1.5-4.171 4.167 9.291 9.291 4.161-4.193 1.61 1.623v-12.388zm-5 4c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm0-1c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm6.708.292l-.708.708v3.097l2-2.065-1.292-1.74zm-12.675 9.294l-1.414 1.414h-2.619v2h-2v2h-2v-2.17l5.636-5.626-1.417-1.407-6.219 6.203v5h6v-2h2v-2h2l1.729-1.729-1.696-1.685z">
                  </path>
                </svg>
                <a class="nav-link active" href="/login">inicio sesion </a>
              </button>
            </li>

          </ul>
        </nav>
      </label>

      


      <!-- Íconos de carrito/favoritos (derecha) -->
      <div class="d-flex">
        <a routerLink="/favoritos" class="nav-link me-3">
          <div class="position-relative">
            <img width="30" height="30" src="https://cdn-icons-png.freepik.com/128/9694/9694614.png">
            <span *ngIf="cantidadProductosEnFavoritos > 0"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{cantidadProductosEnFavoritos}}
            </span>
          </div>
        </a>

        <a routerLink="/carrito" class="nav-link">
          <div class="position-relative">
            <img width="40" height="40" src="https://img.icons8.com/?size=100&id=59997&format=png&color=000000">
            <span *ngIf="cantidadProductosEnCarrito > 0"
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{cantidadProductosEnCarrito}}
            </span>
          </div>
        </a>



      </div>

    </div>
  </div>
</nav>