<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


<style>
  h1.text-center {
    font-family: 'Oswald', sans-serif;
  }
</style>


<h1 class="text-center">contacto </h1>



<div class="n2" >
    <img src="https://pa1.aminoapps.com/6478/5db02c36b7fd7b9ed890997c4ff9c58764d3b93f_hq.gif"
        style="width: 300px; height: 200px;   margin: 0 auto;">
</div>











<div class="container">
  

  <div class="map-container">
    <div class="map-header">
      <div class="map-title">Región Patagónica - Argentina</div>
     
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1551.882807594675!2d-67.98489956449417!3d-38.92933440598513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1753794221583!5m2!1ses!2sar"
      class="map-frame" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <div class="map-footer">
      <div class="location-info">
        <div class="location-icon">📍</div>
        <div>
          <div>Coordenadas aproximadas</div>
          <div class="coordinates">-38.9293° S, -67.9849° O</div>
        </div>
      </div>

      <div class="controls">
        <button class="btn btn-primary">Ver en Google Maps</button>
        <button class="btn btn-secondary">Compartir ubicación</button>
      </div>
    </div>
  </div>

</div>



