<p>nosotros works!</p>
<h1 class="text-center">un poco de nosotros </h1>

<div class="card">

  <img width="200" height="200" src="https://images.vexels.com/content/141199/preview/skateboard-jumping-silhouette-1-ee6598.png">

  <div class="card__content">
    <p class="card__title">informacion </p>
    <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>
