 <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 
 
 <style>
    h1.text-center {
      font-family: 'Oswald', sans-serif;
    }
  </style>
 


<h1 class="text-center">un poco de nosotros </h1>

<div class="text-center" >
    <img src="https://pa1.aminoapps.com/7191/182577ea6bef74f7737053e9fb6d22d1481f65car1-500-434_hq.gif"
        style="width: 200px; height: 180px;   margin: 0 auto;">
</div>



<div class="card">

  <img width="200" height="200" src="https://images.vexels.com/content/141199/preview/skateboard-jumping-silhouette-1-ee6598.png">

  <div class="card__content">
    <p class="card__title">informacion </p>
    <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>
